<div class='jumbotron col-md-8 col-md-offset-2'>
	<h3>I want an account!</h3>
	<form action='/create_user' method='post' class="form-horizontal col-md-6 col-md-offset-3">
		<div class="form-group">
			<label for="login" class="col-md-3 control-label">Login</label for="login">		
			<div class="col-md-9">
				<input name='login' type="login" class="form-control" id="login" placeholder="Login">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-md-3 control-label">Password</label for="password">
			<div class="col-md-9">
				<input name='password' type="password" class="form-control" id="password" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<label for="confirmation" class="col-md-3 control-label">Confirm password</label for="confirmation">
			<div class="col-md-9">
				<input name='password_confirmation' type="password" class="form-control" id="conformation" placeholder="Password confirmation">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-success">Sign up</button>
				</div>
			</div>
		</form>
	</div>

		
