<div class='jumbotron'>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2><%= @task.title %></h2>
			<h4>Priority: <%= @task.priority %></h4>
		</div>
		<div class="panel-body">
			<%= @task.description %>
      	</div>
    </div>
</div>
